<div class="container">
    <div class ="titulo">
        <h1>Seleccione TCG</h1>
    </div>
    <div class="boxes">
        <div>
        <div class="box1">
            <img src="../../../assets/yugioh.jpg" alt="" [routerLink]="['/seccion','yugi']">
            
        </div>
        <div class="box2">
            <img src="../../../assets/dbs.jpeg" alt="">
        </div>
    </div>
        <div>
        <div class="box3">
            <img src="../../../assets/digimon.png" alt=""> 
        </div>
        <div class="box4">
            <img src="../../../assets/magic.jpg" alt="">  
        </div>
    </div>
    </div>
    

</div>


